<<<<<<< HEAD:docs/about.html



<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>About Us</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link href="https://fonts.cdnfonts.com/css/valorant" rel="stylesheet">
  </head>

  <body>
    <nav > <a href="/"><h4>
      Home
    </h4></a>
    <a href="about.html"><h4>
      About the Creators
    </h4></a>
    
  </nav>
  <h1 id="title1">About the</h1> <h1 id="title2">Creators</h1>
    <p>
    <h3>
      AceTrainer is  project by Caleb Lucas Esteban and Raphael Angelo Domingo. <br>
      After discussing shortly on which website to create, they were inspired <br>
      by <a href="https://aimtrainer.io" style="text-decoration: none">AimTrainer.io</a> to create their own <br>
      version of an aim trainer.
      </h3>
    </p>


  <p>
    <h2>Raphael Angelo Domingo</h2>

    <image width="300px" height="300px" src="Https://i.ibb.co/XrHNg6cn/473955312-1130104642087059-3102235872785786885-n.jpg">
    </image> <br>

    Rapha is a Pisay student, class of 2028. He is currently in the 9th grade, <br>
    the secretary of a FPS games club, and bassist of a band.


  </p>
  
  <p>
    <h2>Caleb Lucas Esteban</h2>
    <img width="300px" height="300px" src="https://i.ibb.co/ymGRVBr1/image-2025-02-06-010359565.png"></img><br>
    Caleb  is also a 9th grade Pisay student, class of 2028. He is the treasurer of the <br>
    AI data science club, and keyboardist of that same band.
  </p>
  
   <footer>
  &copy; 2025 raodomingo, clsesteban <br>
  Linktree: <a href="https://linktr.ee/4ambandph">our band!</a><br>
      
      Debugging and CSS styling assistance by Copilot
</footer> 
  </body>
</html>
=======



<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>About Us</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link href="https://fonts.cdnfonts.com/css/valorant" rel="stylesheet">
  </head>

  <body>
   <nav>
      <a href="/">
      <h4>
        Home
      </h4></a>
      </a> 
   <a href="/about"><h4>
      About the Creators
    </h4></a>
    <a href="/leaderboard"><h4>
      Leaderboard
    </h4></a>
 </nav>
  <h1 id="title1">About the</h1> <h1 id="title2">Creators</h1>
    <p>
    <h3>
      AceTrainer is  project by Caleb Lucas Esteban and Raphael Angelo Domingo. <br>
      After discussing shortly on which website to create, they were inspired <br>
      by <a href="https://aimtrainer.io" style="text-decoration: none">AimTrainer.io</a> to create their own <br>
      version of an aim trainer.
      </h3>
    </p>


  
    {{#each creators}}
    <p>
      <h2>{{this.name}}</h2>
      <img width="300px" height="300px" src="{{this.image}}" alt="{{this.name}}" />
      <br />
      {{this.bio}}
    </p>
    {{/each}}
  
   <footer>
  &copy; 2025 raodomingo, clsesteban <br>
  Follow us on:
        <a href="https://twitter.com" target="_blank">Twitter</a> |
        <a href="https://facebook.com" target="_blank">Facebook</a> |
        <a href="https://instagram.com" target="_blank">Instagram</a>  <br>
      
      Debugging and CSS styling assistance by Copilot
</footer>
  </body>
</html>
>>>>>>> 415ad5e (integrated mongoDB mongoose database):views/about.hbs
